<div class="jumbotron col-md-8 col-md-offset-2">
  <h2>Welcome to your Todo app</h2>
  <p>Here you can make a CRUD of all your to do tasks</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-info" %>
</div>
